.footer{
  height: 50px;
  background: rgb(0,0,0,0.35);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  border-top: 1px solid white;
  margin-top: 50px;
}
p{
  margin-bottom: 0;
}

a{
  color: white !important;
}

a:hover{
border-bottom: none;
}

img{
  height: 24px;
  width: 24px;
}

.social{
  gap: 30px;
  display: flex;
}