<section class="projects" id="projects">
  <h1>{{ text1 }} Portfolio</h1>
  <div class="cards">
    <a
      href="https://valer-neufeld.developerakademie.net/elpolloloco/index.html"
      target="_blank"
      ><div class="card orange">
        <img src="assets/elpolloloco.png" alt="" />
        <p class="orange-color">El Pollo Loco - {{ text2 }}</p>
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a
    >
    <a
      href="https://gruppe-302.developerakademie.net/join-302/html/board.html"
      target="_blank"
      ><div class="card blue">
        <img src="assets/team.jpg" alt="" />
        <p class="blue-color">Join - {{ text3 }}</p>
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a
    >
    <a href="https://ring-of-fire-60e50.web.app" target="_blank"
      ><div class="card red">
        <img src="assets/ringoffire.jpg" alt="" />
        <p class="red-color">Ring of Fire - {{ text5 }}</p>
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a>
      <a href="https://gruppe-slack-423.developerakademie.net/" target="_blank"
      ><div class="card purple">
        <img src="assets/slack.jpg" alt="" />
        <p class="purple-color">Slack Clone- {{ text7 }}</p>
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a>
  </div>
</section>
